@media (max-width: 800px) {
  #main-section {
    // stack main section
    .container {
      grid-template-columns: 1fr;
      min-height: auto;
    }
  }
  .result-list {
    flex-direction: row !important;
    max-width: 100vw;
    justify-content: flex-start;
    overflow: scroll;
    padding: 0.7rem 0;
    li {
      a {
        display: flex;
        flex-direction: column;
        // white-space: nowrap;
        .result-fig {
          width: 64px;
          align-self: center;
          margin-right: 0;
          margin-bottom: 0.5rem;
        }
        .result-data {
          display: flex;
          flex-direction: column;
          white-space: nowrap;
        }
      }
    }
  }
  .result-page.btns {
    visibility: none;
    &-prev,
    &-next {
      visibility: none;
    }
  }
  // Always show serving btns
  .recipe-info-btns{
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}
// resize searchbar
@media (max-width: 610px) {
  #main-nav {
    .search {
      &-field {
        min-width: 0px;
      }
    }
    .btn-search {
      span {
        display: none;
      }
    }
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0;
  }
  #main-nav {
    .container {
      grid-template-areas:
        "logo nothing nothing"
        "search search likes";
    }
    .logo {
      grid-area: logo;
    }
    .search {
      grid-area: search;
    }
    .likes {
      grid-area: likes;
    }
  }
  .recipe {
    // reduce image size
    &-img {
      height: 250px !important;
    }
    // stack ingredients
    &-ingredients {
      &-list {
        grid-template-columns: 1fr !important;
      }
    }
  }
}
