// Google Font: Lato
@import url("https://fonts.googleapis.com/css?family=Lato|Staatliches&display=swap");

$website-width: 1280px;
$primary-color: #ef4c4c;
$primary-color-dark: #e72b2b;
$primary-color-light: #f3c1c1;
$light-color: #f4f4f4;
$lighter-color: #fcfcfc;
$med-color: #ccc;
$dark-color: #333;
$bg-img: url("../img/showcase.jpg");
$overlay-darken: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
$logo-size: 35px;
$gradient: linear-gradient(
  to right bottom,
  $primary-color-light,
  $primary-color
);
$gradient-transparency: linear-gradient(to right bottom, #f3c1c1cb, #ef4c4ccb);
$max-height: 50rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.4;
  background: white;
}

a {
  color: $dark-color;
  text-decoration: none;
}
// Util
.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  //   background: $dark-color;
}

.primary-color {
  color: $primary-color;
}

.btn {
  border: none;
  border-radius: 10rem;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &-search {
    background: $gradient;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    &:hover {
      transform: scale(1.05);
    }
    i {
      margin-right: 0.3rem;
      // color: $primary-color;
    }
  }

  &-inline {
    background: $light-color;
    color: $primary-color;
    padding: 0.7rem 1.2rem;
    &:hover {
      background: $med-color;
    }
    margin: 1rem 0.3rem;
  }

  // Buttons in recipe with gradient
  &-recipe {
    margin-top: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background: $gradient-transparency;
    color: #fff;
    font-size: 0.8rem;
    i {
      padding: 0.5rem;
    }
  }
}

.active {
  background: $light-color;
}

.title-2 {
  color: $primary-color;
  transform: skew(-10deg);
  margin: 1rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
}

#main-nav {
  background: $light-color;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    padding: 0.5rem;
    align-items: center;
  }

  .logo {
    display: flex;
    font-family: "Staatliches", cursive;
    font-size: 2rem;
    justify-content: flex-start;
    align-items: center;
    img {
      width: $logo-size;
      height: $logo-size;
      margin-right: 0.5rem;
      transform: translateY(-1.5px);
    }
  }

  .search {
    background: #fff;
    border-radius: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    transition: all 0.3s;

    &:focus-within {
      transform: translateY(-2px);
      box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
    }
    &-field {
      min-width: 230px;
      border: none;
      background: none;
      font-size: 0.9rem;
      color: $primary-color-dark;
      font-family: "Staatliches", cursive;
      letter-spacing: 2px;
      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #dad0cd;
        letter-spacing: 2px;
      }
    }
  }

  .likes {
    align-self: stretch;

    &-field {
      cursor: pointer;
      padding: 0 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      transition: all 0.3s;
      i {
        color: $primary-color;
      }
      &:hover {
        background: $med-color;
      }
    }

    &:hover {
      .likes-panel {
        visibility: visible;
        opacity: 1;
      }
    }

    &-panel {
      position: absolute;
      right: 0;
      z-index: 10;
      padding: 1rem 0;
      width: 20rem;
      background: #fff;
      box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s 0.2s;
    }
  }
}

// Item entry in likes-panel and result-panel
.likes,
.result {
  //   padding: 3rem 0;
  &-list {
    list-style: none;
  }

  &-link {
    &:link,
    &:visited {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      transition: all 0.3s;
      border-right: 1px solid #fff;
      text-decoration: none;
    }
    &:hover {
      background: $light-color;
      transform: translateY(-2px);
    }
  }

  &-link:hover {
    .result-fig:before {
      opacity: 0;
    }
  }

  &-fig {
    flex: 0 0 4rem;
    border-radius: 50%;
    overflow: hidden;
    height: 4rem;
    margin-right: 1rem;
    position: relative;
    backface-visibility: hidden;

    // Photo overlay
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $gradient;
      opacity: 0.2;
      //   background: black;
      //   opacity: 0.2;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  &-name {
    font-size: 0.8rem;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  &-author {
    font-size: 0.8rem;
    color: $dark-color;
    text-transform: uppercase;
    font-weight: 600;
  }
}
// Main section: grid
#main-section {
  .container {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    min-height: calc(100vh - 60px);
  }

  .result-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    .result-list {
      // Using scroll instead of pagination
      // max-height: $max-height;
      // overflow: scroll;
      &:first-child a {
        // margin-top: 1rem;
      }
    }

    .result-page-btns {
      margin-top: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .btn-prev {
        span i {
          margin-right: 0.3rem;
        }
      }
      .btn-next {
        span i {
          margin-left: 0.3rem;
        }
      }
    }
  }

  // Recipe Panel
  .recipe {
    &-panel {
      background: $light-color;
      display: flex;
      flex-direction: column;

      &:hover {
        .recipe-info-servings .recipe-info-btns {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &-fig {
      position: relative;
      overflow: hidden;

      // Gradient overlay
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $overlay-darken;
        opacity: 1;
      }

      .recipe-img {
        width: 100%;
        height: 320px;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: cover !important;
        overflow: hidden;
      }
      &:hover {
        .recipe-img {
          transform: scale(1.1);
          transition: transform 0.3s;
        }
        .recipe-title {
          opacity: 0;
          transition: opacity 0.3s;
        }
        &:after {
          transition: opacity 0.2s;
          opacity: 0.2;
        }
      }
    }

    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      width: 70%;
      font-size: 1.5rem;
      font-family: "Staatliches", cursive;
      letter-spacing: 1px;
      opacity: 1;
    }

    &-details {
      display: flex;
      justify-content: space-between;
      padding: 1.4rem 2rem;
      text-transform: uppercase;
      font-size: 0.8rem;

      i {
        color: $primary-color;
        margin-right: 0.3rem;
        // padding: 0.2rem;
      }

      .recipe-info-servings {
        display: flex;
        align-items: center;

        .recipe-info-text {
          margin: 0 0.3rem;
        }

        .recipe-info-btns {
          display: flex;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
          transform: translateY(5px);
        }
      }

      button {
        background: none;
      }
    }

    // Recipe panel: Ingredients
    &-ingredients {
      padding: 2rem 1.5rem;
      background: $lighter-color;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .item-ingredient {
          display: flex;
          padding: 0.5rem;
          justify-content: flex-start;
          align-items: baseline;

          i {
            color: $primary-color;
            margin-right: 0.4rem;
          }

          .ingredient-count {
            margin-right: 0.3rem;
            white-space: nowrap;
            // min-width: 40px;
          }
        }
      }

      .btn-recipe {
        align-self: center;
      }
    }

    &-directions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 1rem;

      &-text {
        font-size: 0.9rem;
        padding: 1rem 2rem;
      }
      .recipe-by {
        font-weight: bold;
        font-style: italic;
      }
    }
  }
  .shopping {
    &-panel {
      display: flex;
      flex-direction: column;
      padding: 1rem 1rem;
    }

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      color: $dark-color;
      max-height: $max-height;
      overflow: scroll;

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px dashed $light-color;
        font-size: 0.7rem;
        animation: fadeIn 1s forwards;
        &-count {
          display: flex;
          justify-content: center;
          cursor: pointer;
          padding: 0.3rem;
          margin-right: 1rem;
          border-radius: 3px;
          border: 1px $light-color solid;
          input {
            width: 3.5rem;
            border: none;
            &:focus {
              outline: none;
              // background: $light-color;
            }
          }
        }

        &-des {
          text-align: start;
          align-self: flex-start;
        }

        .btn-delete {
          color: $primary-color;
          visibility: hidden;
          opacity: 0;
          transform: translateX(5px);
          transition: all 0.3s;
        }

        &:hover {
          .btn-delete {
            transform: translateX(0);
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
  .copyright {
    font-size: 0.6rem;
    margin-top: 2rem;
    color: $dark-color;
    align-self: flex-end;
    margin-top: auto;
  }
}
.loader {
  margin-top: 5rem;
  align-self: center;
  i {
    color: $primary-color;
    animation: spin 1.3s infinite linear;
  }
}

.entry-disappear {
  transition: transform 0.5s, opacity 0.5s;
  transform: translateX(100%);
  opacity: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
